@import-normalize; /* bring in normalize.css styles */
@import './stylesheet/fonts.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
}
